.idea/
.vscode/
target/
log/
.DS_Store
*.iml
*.ipynb
*.terraform
terraform.tfstate.backup
assume-role-output.json
/.adr-dir
**/node_modules
**/cypress/videos
**/cypress/screenshots
**/cypress/data/diffPngs
.env
**/translatedDifferences/
plan.txt
.classpath
.factorypath
.project
bin/
.settings/
**__diff_output__
